<!DOCTYPE html>
<html ng-app="iat" ng-controller="iatLandingController as ctrl">
<head>
	<title>Impact analysis tool</title>
   <!-- style sheet dependencies -->
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="ExternalDependecies/style/selectize.default.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/common.css" />
   <!-- style sheet dependencies -->

   <!-- javaScript dependencies -->
  	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
  	<script type="text/javascript" src="scripts/controllers/iatLandingController.js"></script>
  	<script type="text/javascript" src="scripts/constants/apiEndpoints.js"></script>
  	<script type="text/javascript" src="scripts/services/iatLandingService.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
   <!-- javaScript dependencies -->

</head>
<body>
	<h1 style="text-align: center ">Impact analysis tool</h1>
  <div class="row container-fluid m-l-70" ng-repeat="search in ctrl.searchFields">
	<!-- select branch -->
	<div class="col-sm-3">	
		<ui-select theme="selectize" style="width:200px" ng-model="search.branch" search-enabled="true">
          <ui-select-match placeholder="select branch">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="controllerName in ctrl.controllerNames | filter: $select.search">
            <div ng-bind-html="controllerName">
            </div>
          </ui-select-choices>
        </ui-select>
	</div>
<!-- select file type -->

	<div class="col-sm-3">
		<ui-select theme="selectize" style="width:200px" ng-model="search.fileType" search-enabled="true">
          <ui-select-match placeholder="select file type">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="controllerName in ctrl.controllerNames | filter: $select.search">
            <div ng-bind-html="controllerName">
            </div>
          </ui-select-choices>
        </ui-select>
	</div>
<!-- select file name -->

	<div class="col-sm-3">
		<ui-select theme="selectize" style="width:200px" ng-model="search.fileName" search-enabled="true">
          <ui-select-match placeholder="select file name">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="controllerName in ctrl.controllerNames | filter: $select.search">
            <div ng-bind-html="controllerName">
            </div>
          </ui-select-choices>
        </ui-select>
	</div>
<!-- select method name -->
	<div class="col-sm-3">
		<ui-select theme="selectize" style="width:200px" ng-model="search.methodName" search-enabled="true">
          <ui-select-match placeholder="select method name">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="controllerName in ctrl.controllerNames | filter: $select.search">
            <div ng-bind-html="controllerName">
            </div>
          </ui-select-choices>
        </ui-select>
	</div>
</div>
<div class="row container-fluid m-t-20">
  <div class="text-center">
    <button ng-click="ctrl.addExtraSearch()" class="btn btn-default">add another row</button>
  </div>
</div>
<div class="row container-fluid m-t-20">
  <div class="text-center">
    <button ng-click="" ng-disabled="!ctrl.searchFields[ctrl.index].methodName" class="btn btn-default">search</button>
  </div>
</div>
</body>
</html>